---

---

<section class="biography font-size-7 space-y-6 md:space-y-8
    max-w-xl md:max-w-3xl lg:max-w-5xl m-auto px-6 py-0 md:px-16 md:py-4"
>
    <div class="grid items-center
        grid-cols-1 gap-y-8
        lg:grid-cols-2 lg:gap-x-12"
    >
        <div class="space-y-6 lg:space-y-8">
            <p>
                Juan Ramón Bres Regueiro was born in Cádiz in 1996.
                He is a musician specialising in classical and contemporary music.
                His great interest in orchestral music has led him to play concerts at national and international level.
            </p>

            <p>
                He is currently co-principal flutist and piccolo soloist in the Helsingborg Symphony Orchestra, where he has a trial period.
            </p>
        </div>

        <img src="../../img/biography/bio1.jpg" class="px-3 sm:px-6 md:px-12 lg:px-0">
    </div>
    
    <p>
        He began his musical studies at the conservatory of his hometown, in Cádiz, and then moved to the Superior Conservatory of Seville, where he completed his bachelor's degree.
        At the beginning of his degree, he won the third prize for soloists in the Auditorio de la Casa de las Artes in Cádiz, performing Carl Reinecke's Concerto for flute and orchestra.
        At the same time, he studied for 6 years with the flutist Vicent Morelló Broseta (soloist of the Real Orquesta Sinfónica de Sevilla), who greatly influenced his musicality.
    </p>

    <p>
        During his training he has attended courses and masterclasses with international teachers and soloists such as Clara Andrada, Jacques Zoon, Silvia Careddu, Andrea Oliva, Adam Walker, Benoît Fromanger, Francisco López, Julien Beaudiment, Paco Varoch, Bodoky Gergely, Yuki Koyama, Rute Fernandes or Álvaro Octavio, among others.
    </p>

    <p>
        He also had the opportunity to play in ensembles, chamber groups and international youth orchestras, among them Junge Philharmonie Zentralschweiz, World Youth Orchestra Zoltan Kódaly, HKB Sinfonieorchester, Ensemble Vertigo der HKB (Bern) or the OSC (Orquesta Sinfónica Conjunta de Sevilla).
    </p>

    <p>
        He has played under the direction of conductors such as Emilio Pomàrico, Karel Mark Chichon, John Axelrod, Denis Vlasenko, Vásary Tamás, Christoph Campestrini, Wolfram-Maria Märtig, among others, playing in concert hall such as Slovak Radio, Haydn Hall in Austria, Budapest Open Air, Gran Teatro Manuel de Falla in Cadiz, Teatro de la Maestranza in Sevilla, KKL Luzern, Grand Casino Bern, Tonhalle Zürich or the Grand Casino de Basel.
    </p>

    <p>
        He also collaborates with the orchestras Gibraltar Philharmonic, Sinfonisches Orchester Schweiz and is a replacement of the Orchestre de Chambre de Lausanne.
    </p>

    <div class="grid items-center
        grid-cols-1 gap-y-8
        lg:grid-cols-2 lg:gap-x-12"
    >
        <img src="../../img/biography/bio2.jpg" class="px-3 sm:px-6 md:px-12 lg:px-0">
        <p>
            To perfect himself as a flutist, he became interested in French flute technique, moving to France.
            He studied at the Conservatoire Rayonnement Regional de Dijon with the teacher Martine Charlot (Professor at the Pôle Supérieur de Dijon (ESM) and Soloist of the Orchestre Dijon Bourgogne), who prepared him intensively. Later, moved to the Hochschule der Künste Bern (Switzerland), where he studied the Master Performance with Martin Fahlenbock, Cornelia Zehnder (piccolo), and Johanna Schwarlz in orchestra repertoire.
        </p>
    </div>

    <p>
        Due to his interest in the orchestra, he is studying at the Hochschule Luzern (HSLU) in Switzerland, where he was admitted to take the master's degree in orchestral specialization in the class of Sarah Rumer (soloist of the Orchestre de la Suisse Romande), also receiving lessons from Jona Venturi (piccolo soloist in the Orchestre de la Suisse Romande) and Rute Fernandes (soloist of the Zurich Opera).
        He also specialised in piccolo belonging to the class with professor Nicola Mazzanti in Luzern.
    </p>

    <p>
        He received scholarships from the Swiss foundations Auskult, Sostenuto Stiftung, and Else v. Stiftung.
    </p>

    <p>
        He is currently awarded the Sylvie Rusconi Scholarship of Lausanne to support him in his studies.
    </p>
</section>

<style>
	.biography p {
        color: var(--color-primary);
        text-align: justify;
    }
</style>